html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
  
    padding: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  body {
    font-family:'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    color: var(--main-text-color);
  
    @media screen and (min-width: 768px) {
      font-size: 18px;
      line-height: 1.39;
    }
  }
  
  a {
    text-decoration: none;
  
    // transition: color var(--animation);
  
    // &:hover,
    // &:focus {
    //   color: var(--accent-color);
    // }
  }
  
  .section-title {
    font-size: 32px;
    
    @media screen and (min-width: 768px) {
      font-size: 40px;
      line-height: 1.35;
    }
    // @media screen and (min-width: 1200px) {
    //   font-size: 36px;
    //   line-height: 2.2;
    // }
  }
  
//   .visually-hidden {
//     position: absolute !important;
//     clip: rect(1px 1px 1px 1px);
//     clip: rect(1px, 1px, 1px, 1px);
//     padding: 0 !important;
//     border: 0 !important;
//     height: 1px !important;
//     width: 1px !important;
//     overflow: hidden;
//   }
  
  .button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    background: var(--accent-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
    font-family:'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    color: var(--main-text-color);
    transition: all var(--animation);
  }
  
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  
    @media screen and (min-width: 768px) {
      padding-left: 32px;
      padding-right: 32px;
    //   width: 664px;
    }
  
    @media screen and (min-width: 1360px) {
      padding-left: 28px;
      padding-right: 28px;
    //   width: 854px;
    }
  }