.blog {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row-reverse;
    }
}

.blog__img{
    width: 100%;
    min-height: 247px;
    background-image: url('../images/home/blog.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: 768px) {
        width: 50%;
        min-height: 493px;
    }

    @media screen and (min-width: 1360px) {
        min-height: 460px;
    }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .blog__img {
    background-image: url('../images/home/blog@2x.jpg');
  }
}

.blog__container {
    padding-top: 48px;
    padding-bottom: 58px;
    background-color: var(--blog-bg-color);

    @media screen and (min-width: 768px) {
        width: 50%;
        padding-top: 59px;
        padding-bottom: 59px;
    }

    @media screen and (min-width: 1360px) {
        width: 50%;
        padding-top: 80px;
        padding-bottom: 80px;
        padding-right: 20px;
    }
}

.blog__title {
    margin-top: 16px;
    margin-bottom: 24px;
    font-weight: 400;
}

.blog__button {
    margin-top: 24px;
    height: 54px;
    border: 1px solid var(--main-text-color);
    font-size: 16px;
    background-color: transparent;

    @media screen and (min-width: 768px) {
        font-size: 18px;
    }

    &:hover,
    &:focus {
        color: var(--blog-bg-color);
        background-color: var(--contact-bg-color);
        border-color: var(--blog-bg-color);
    }
}