.team {
    padding-top: 72px;
    padding-bottom: 50px;
    color: var(--dark-text-color);
    text-align: center;

    @media screen and (min-width: 768px) {
        padding-top: 50px;
        padding-bottom: 40px;
    }

    @media screen and (min-width: 1360px) {
        padding-top: 80px;
        padding-bottom: 88px;
    }
}

.team__text {
    @media screen and (min-width: 768px) {
        font-size: 20px;
        line-height: 1.65;
    }

    @media screen and (min-width: 1360px) {
        line-height: 1.35;
    }
}

.team__title {
    margin-top: 16px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 32px;

    @media screen and (min-width: 768px) {
        font-size: 40px;
        line-height: 1.35;
    }
}

.team-members {
    margin-top: 63px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) {
        margin-top: 24px;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    @media screen and (min-width: 1360px) {
        margin-top: 36px;
    }
}

.team-members__item + .team-members__item {
    margin-top: 30px;

    @media screen and (min-width: 768px) {
        margin-top: 0;
        margin-left: 18px;
    }

    @media screen and (min-width: 1360px) {
        margin-left: 20px;
    }
}

.team-members__thumb {
    position: relative;
    min-width: 280px;
    max-width: 600px;
    transform: scale(1);
    transition: transform var(--animation);   

    @media screen and (min-width: 768px) {
        min-width: 223px;
    }
    @media screen and (min-width: 1360px) {
        min-width: 420px;
    }

    &:hover {
        transform: scale(1.05);
        transition: transform var(--animation);    
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }
}

.team-members__overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: var( --overlay-color);
    transition: all var(--animation);

    display: flex;
    justify-content: center;
    align-items: center;
}

.team-members__thumb:hover .team-members__overlay {
    visibility: visible;
    opacity: 1;
    transition: all var(--animation);
}

.team-members-social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-members-social-icons__item + .team-members-social-icons__item {
    margin-left: 25px;
}

.team-members-social-icons__link {
    display: block;
    cursor: pointer;
    opacity: 1;
    transition: opacity var(--animation);
  
    &:hover {
      opacity: 0.8;
      transition: opacity var(--animation);
    }
}

.team-members-social-icons__icon {
    fill: var(--main-text-color);
}

.team-members__name {
    margin-top: 16px;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.35;

    @media screen and (min-width: 768px) {
        font-size: 32px;
        line-height: 1;
    }

    @media screen and (min-width: 1360px) {
        margin-top: 15px;
    }
}
