:root {
    --main-text-color: #FFFFFF;
    --dark-text-color: #333333;
    --accent-color: #28A745;
    // --bg-color: #e5e5e5;
    // --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    // --icons-color: #2e2520;
    // --button-second-color: #ab816c;
    // --title-donut-color: #000000;
  }