:root {
    --main-text-color: #FFFFFF;
    --dark-text-color: #333333;
    --accent-color: #28A745;
    --accent-hover-color: #2EBF4F;
    --blog-bg-color: #0284D0;
    --contact-bg-color: #F4F4F4;
    --contact-border: #F5F5F5;
    --overlay-color: rgba(4, 4, 4, 0.5);
    --animation: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }