<section class="about" id="about">
  <div class="about__img"></div>

  <div class="container about__container">       
      <p class="about__text">What you are looking for</p>
      <h2 class="section-title about__title">We provide bespoke solutions</h2>
      <p class="about__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores deleniti?</p>
      <button type="button" class="button about__button">Read More</button>
  </div>
</section>
