<section class="blog" id="blog">
  <div class="blog__img"></div>

  <div class="container blog__container">       
      <p class="blog__text">April 16 2020</p>
      <h2 class="section-title blog__title">Blog Post One</h2>
      <p class="blog__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores deleniti?</p>
      <button type="button" class="button blog__button">Read Our Blog</button>
  </div>
</section>