<section class="contact" id="contact">
  <div class="contact__img"></div>
    <!-- <picture class="contact__img">
        <source
          srcset="
            ./images/home/contact.webp 1x,
            ./images/home/contact@2x.webp 2x"
          type="image/webp"
        />
        <img
          srcset="
            ./images/home/contact.jpg 1x,
            ./images/home/contact@2x.jpg 2x"
          src="./images/home/contact.jpg"
          alt="man using a laptop with a phone in his hand"
        />
    </picture> -->
    <div class="container contact__container">
        <h2 class="section-title contact__title">Request Callback</h2>

        <form class="contact-form">
            <input
                class="contact-form__input" 
                type="name" 
                name="name" 
                id="name"
                placeholder="Enter your name"
                required
            >

            <input
                class="contact-form__input" 
                type="email" 
                name="email" 
                id="email"
                placeholder="Enter email*"
                required
            >

            <button type="submit" class="button contact__button">Send</button>

        </form>
    </div>
</section>