<section class="contact" id="contact">
  <div class="contact__img"></div>
    <div class="container contact__container">
        <h2 class="section-title contact__title">Request Callback</h2>

        <form class="contact-form">
            <input
                class="contact-form__input" 
                type="name" 
                name="name" 
                id="name"
                placeholder="Enter your name"
                required
            >

            <input
                class="contact-form__input" 
                type="email" 
                name="email" 
                id="email"
                placeholder="Enter email*"
                required
            >

            <button type="submit" class="button contact__button">Send</button>

        </form>
    </div>
</section>