<section class="home" id="home">
  <header class="header">
          <nav class="header__nav">

              <a class="header-logo" href="./index.html">
                <svg class="header-logo__icon" width="40px" height="35px">
                  <use href="./images/sprite.svg#icon-book"></use>
                </svg>
                <p class="header-logo__text">Finance
                  <span class="header-logo__text--light">Ledger</span>
                </p>             
              </a>

              <ul class="header-menu">
                  <li class="header-menu__item">
                    <a class="header-menu__link" rel="noopener noreferrer" href="#home">Home</a>
                  </li>
                  <li class="header-menu__item">
                    <a class="header-menu__link" rel="noopener noreferrer" href="#about">About</a>
                  </li>
                  <li class="header-menu__item">
                    <a class="header-menu__link" rel="noopener noreferrer" href="#cases">Cases</a>
                  </li>
                  <li class="header-menu__item">
                    <a class="header-menu__link" rel="noopener noreferrer" href="#blog">Blog</a>
                  </li>
                  <li class="header-menu__item">
                      <a class="header-menu__link" rel="noopener noreferrer" href="#contact">Contact</a>
                  </li>
              </ul>
          </nav>
  </header>

  <div class="hero">
    <h1 class="hero__title">The Sky Is The Limit</h1>
    <p class="hero__text">We provide world class financial assistance</p>
    <button type="button" class="button hero__button">
      <svg class="button__icon" width="9px" height="18px">
        <use href="./images/sprite.svg#icon-arrow-right"></use>
      </svg>
      <span>Read More</span>
    </button>
  </div>
</section>